# This is a basic workflow to help you get started with Actions

name: remove old releases and tags

# Controls when the workflow will run
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: dev-drprasad/delete-older-releases@v0.2.0
      with:
        repo: <owner>/<repoName> # defaults to current repo
        keep_latest: 3
        delete_tag_pattern: beta # defaults to ""
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
